li{
    font-family: "Calibri";
    font-weight: 1000;
    background-color: #295ca2;
    color: #cad7ff;
    font-size: 25px;
}
body{
    background-color: #669fff;
}
legend{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: #295ca2;
    color: #cad7ff;
}
#letra{
    font-family: "Arial";
}